{% if type == 'facebook' %}
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
    <title>Facebook</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Default-Footer-|-Desktop" transform="translate(-1034.000000, -122.000000)" fill="#000000">
            <g id="Footer-Content" transform="translate(150.000000, 14.000000)">
                <g id="SINGLE-GREY" transform="translate(884.000000, 108.000000)">
                    <path d="M18.8962436,20 L13.7996786,20 L13.7996786,12.2548486 L16.3994443,12.2548486 L16.7889733,9.23676182 L13.7996786,9.23676182 L13.7996786,7.30932665 C13.7996786,6.43549793 14.0426575,5.8400523 15.2956879,5.8400523 L16.8941189,5.83950752 L16.8941189,3.13957289 C16.6173626,3.10307256 15.6688731,3.02081063 14.5651167,3.02081063 C12.2606303,3.02081063 10.6829016,4.42743517 10.6829016,7.01078666 L10.6829016,9.23676182 L8.07659829,9.23676182 L8.07659829,12.2548486 L10.6829016,12.2548486 L10.6829016,20 L1.10375637,20 C0.494129825,20 0,19.5053389 0,18.8957289 L0,1.10427108 C0,0.494116365 0.494129825,0 1.10375637,0 L18.8962436,0 C19.5058702,0 20,0.494116365 20,1.10427108 L20,18.8957289 C20,19.5053389 19.5058702,20 18.8962436,20 Z" id="Facebook"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
{% endif %}
{% if type == 'pinterest' %}
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
    <title>Pinterest/Black</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Default-Footer-|-Desktop" transform="translate(-1081.000000, -122.000000)" fill="#000000">
            <g id="Footer-Content" transform="translate(150.000000, 14.000000)">
                <g id="Pinterest/Black" transform="translate(931.000000, 108.000000)">
                    <path d="M10.000588,0 C4.47815605,0 0,4.47698007 0,10.000588 C0,14.0941965 2.46251543,17.6127477 5.98694655,19.1591698 C5.95872288,18.4618098 5.98224261,17.6221556 6.15981655,16.8624684 C6.35267831,16.0510378 7.44634562,11.4141236 7.44634562,11.4141236 C7.44634562,11.4141236 7.12765332,10.775563 7.12765332,9.83124596 C7.12765332,8.34950315 7.98729935,7.24289998 9.05627095,7.24289998 C9.9653084,7.24289998 10.4051273,7.92614806 10.4051273,8.74463456 C10.4051273,9.65837596 9.82183807,11.0260481 9.52196155,12.2925854 C9.27147645,13.3545011 10.0535074,14.2188511 11.1001352,14.2188511 C12.9946493,14.2188511 14.2705945,11.7857353 14.2705945,8.90221673 C14.2705945,6.71135415 12.7947316,5.07085318 10.1099547,5.07085318 C7.07708591,5.07085318 5.18727583,7.33227495 5.18727583,9.85829364 C5.18727583,10.7308755 5.44364085,11.3447404 5.84582819,11.8198389 C6.03163403,12.0397483 6.05632975,12.1267713 5.98929852,12.3784324 C5.94225907,12.5607103 5.83171635,13.0052331 5.78585288,13.1804551 C5.71882166,13.4332922 5.51420004,13.5250191 5.28605868,13.4309402 C3.8878109,12.8605868 3.23749045,11.3306286 3.23749045,9.61016052 C3.23749045,6.77015347 5.63297466,3.362145 10.3839595,3.362145 C14.2023873,3.362145 16.7154701,6.12688893 16.7154701,9.09155054 C16.7154701,13.014641 14.5351914,15.945199 11.3188687,15.945199 C10.2404892,15.945199 9.224437,15.3619098 8.87634503,14.6998295 C8.87634503,14.6998295 8.29540777,17.0035868 8.17310519,17.4481096 C7.96142765,18.2183807 7.54630446,18.9898277 7.16646087,19.5895808 C8.06609043,19.8553537 9.01628741,20 10.000588,20 C15.5230199,20 20,15.5230199 20,10.000588 C20,4.47698007 15.5230199,0 10.000588,0" id="Pinterest"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
{% endif %}
{% if type == 'instagram' %}
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
    <title>Instagram</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Default-Footer-|-Desktop" transform="translate(-1126.000000, -122.000000)" fill="#000000">
            <g id="Footer-Content" transform="translate(150.000000, 14.000000)">
                <g id="SINGLE-GREY" transform="translate(884.000000, 108.000000)">
                    <path d="M109.622671,0 L94.3773286,0 C93.0642882,0 92,1.0615607 92,2.37187355 L92,17.6281264 C92,18.9378938 93.0642882,20 94.3773286,20 L109.622671,20 C110.935712,20 112,18.9378938 112,17.6281264 L112,2.37187355 C112,1.0615607 110.935712,0 109.622671,0 L109.622671,0 Z M106.375256,3.29964919 C106.375256,2.85830841 106.733496,2.50006819 107.174837,2.50006819 L109.574976,2.50006819 C110.017015,2.50006819 110.375256,2.85830841 110.375256,3.29964919 L110.375256,5.70048718 C110.375256,6.14182797 110.017015,6.50006819 109.574976,6.50006819 L107.174837,6.50006819 C106.733496,6.50006819 106.375256,6.14182797 106.375256,5.70048718 L106.375256,3.29964919 L106.375256,3.29964919 Z M102.023184,6.18607315 C104.147397,6.18607315 105.869569,7.90442681 105.869569,10.0231841 C105.869569,12.142487 104.147397,13.8602951 102.023184,13.8602951 C99.8995172,13.8602951 98.177345,12.142487 98.177345,10.0231841 C98.177345,7.90442681 99.8995172,6.18607315 102.023184,6.18607315 L102.023184,6.18607315 Z M110.125085,17.4999318 C110.125085,17.8446936 109.845239,18.1250852 109.499932,18.1250852 L94.5000682,18.1250852 C94.1547609,18.1250852 93.8749148,17.8446936 93.8749148,17.4999318 L93.8749148,8.12481248 L96.374983,8.12481248 C96.049314,8.5934048 95.9391212,9.46785588 95.9391212,10.0231841 C95.9391212,13.3698824 98.6688487,16.0930639 102.023184,16.0930639 C105.378065,16.0930639 108.107793,13.3698824 108.107793,10.0231841 C108.107793,9.46785588 108.028694,8.60704252 107.625017,8.12481248 L110.125085,8.12481248 L110.125085,17.4999318 L110.125085,17.4999318 Z" id="Instagram"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
{% endif %}