<div class="container main content">
  <div id="page" class="contact-page section">
      <h1 class="blog-title">{{ page.title }}</h1>
      {{ page.content }}
  </div>

  <div id="contact-form">
      {% include 'contact' %}
  </div>
</div>