<div class="visely-search-container">
    <div style="position:relative;display:none;">
        <form action="/search" method="get" class="visely-search-bar" role="search">
          <input type="search" name="query" value="" placeholder="Search..." class="input-group-field main-search-page-input" aria-label="Search..." autocomplete="off">
        </form>
    </div>
    <div class="search-results"></div>
</div>